@import url("https://fonts.googleapis.com/css2?family=IBM Plex Sans:wght@300;400;500;600;700&display=swap");

body {
    font-family: "IBM Plex Sans", arial;
}

.table tr td,
.table tr th {
    vertical-align: middle;
}

.icon-badge {
    width:100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-badge img {
    width:100%;
}

.rounded-50p {
    border-radius: 50px;
}

.rounded-25p {
    border-radius: 25px;
}

.bg-gold {
    background-color: #b4a01a;
    color:#fff;
}

.td-align-center {
    text-align: center;
}

.font-size-small {
    font-size: 12px !important;
}

.img-table {
    width:100px;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
}

#map-container-seminar {
    height: 400px;
}

#create-event .choices {
    width: 90%;
}

#create-event .choices__list--multiple .choices__item {
    margin-bottom: 5px;
}

[dir=ltr] .ck.ck-dropdown .ck-dropdown__arrow {
    z-index: 0;
}

.loading {
    width: 100%;
    height: 15px;
    background-image: linear-gradient(
        90deg,
        #e4e4e4 0%,
        #f1f1f1 80%,
        #ededed 120%,
        #e4e4e4 200%
    );
    background-position: 0px 0px;
    background-repeat: repeat;
    animation: animatedBackground 2s linear infinite;
}

.table-thumbnail {
    max-width: 200px;
}

@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 1000px 0;
    }
}